.header
{
    width: 100%;
    height:100%;
    background-image: url("../images/beautiful-valley-14.jpg");
    background-size: cover;
    text-align: center;
}
.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 229px;
    height: 159;
    padding-top: 50px;
}
.title
{
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 80px;
}
.trailer
{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 20px; 
    cursor: pointer;
    margin-top: 150px;
    margin-left: auto; 
}
.trailer:hover
{
  background-color: white;
    color: gray;
    transition-duration: 0.4s;

}   
.working
{
    text-align: center;
}
.work
{
    text-align: center;
    color: gray;
}
hr
{
    border-color: white
    
}
.step1
{
   
    margin : 65px;
    float: left;
    width: 50%;
}
h3{
    color: coral;
    font-size: 50px;
    
}
h4
{
    font-size: 43px;
    margin-top: 10px;
}
.wrd
{
    font-size: 20px;
    color: gray;
}
.capture
{
    color: gray;
    font-size: 27px;
    
}
.SUB
{
    background-color: coral;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-left: auto; 
    border: 2px solid white;
    padding: 15px;
    cursor: pointer;
}
.first
{
    width: 40%;
    float: left;
}
.step2
{
     margin : 65px;
    float: right;
    width: 50%;
}

.dwn
{
    font-size: 20px;
    color: gray;
}
.mobile
{
    color: gray;
    font-size: 25px;
    
}
.btn2
{
     background-color: coral;
    color: white;
    text-align: center;
     margin: 10px;
    border: 2px solid white;
    padding: 15px;
    cursor: pointer;
}
.second
{
     width: 40%;
    float: right;
}
.step3
{
     margin : 65px;
    float: left;
    width: 50%;
}
.look
{
    font-size: 20px;
    color: gray;
}
.headset
{
     color: gray;
    font-size: 25px;
}
.btn3
{
    background-color: coral;
    color: white;
    text-align: center;
    margin: 10px;
    border: 2px solid white;
    padding: 15px;
    cursor: pointer;
}
.third
{
    width: 40%;
    float: left; 
}
.explore
{
    text-align: center;
    color: coral;
}
.ed
{
    text-align: center;
    color: gray;
    font-size: 20px;
}
.reality
{
    text-align: center;
    color: black;
    font-size: 30px;
}
.lessons
{
    text-align: center;
    color: gray;
    margin: 40px;
    font-size: 20px;
}
.main
{
    color: coral;
    font-size: 80px;
}
.icon
{
  float: left;
  width:30%;
  padding: 22px;    
  text-align: center;
}
.visuals
{
    color: gray;
    font-size: 20px;
}
.icons
{
    margin: 6px;
    clear: both;
}
.ipad
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.try
{
    color: whitesmoke;
    font-size: 27px;
}
.event
{
    color: whitesmoke;
    font-size: 60px;
}
.sign
{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 20px; 
    cursor: pointer;
    margin-top: 15px; 
}
.sign:hover
{
  background-color: white;
    color: gray;
    transition-duration: 0.4s;

} 
.last
{
    text-align: center;
    background-color: coral;
    padding: 100px;
}
.end
{
    text-align: center;
    color: gray;
    font-size: 25px;
}
.partner1
{
    width: 59%;
}
.partner2
{
    width: 40%;
    height: 10%
}
.partner
{
    float: left;
}
.icon2
{
    text-align: center;
    font-size: 30px;
    padding: 50px;
}
.get
{
    text-align: center;
}
